In [1]:
import pandas as pd
import numpy as np

In [7]:
dist=pd.read_csv("total_fn.csv")

In [8]:
dist['대분류'].value_counts()

식당    178
카페     88
Name: 대분류, dtype: int64

In [9]:
dist['중분류'].value_counts()

한식    136
일식     22
양식     16
중식      4
Name: 중분류, dtype: int64

In [12]:
dist=dist[['가게명','대분류','중분류','소분류']]

In [24]:
dist

           가게명 대분류 중분류             소분류
0          상춘재  식당  한식     돌문어 비빔밥, 게장
1         남양수산  식당  일식          회, 고등어
2          선흘곶  식당  한식          정통 한정식
3       스시호시카이  식당  일식     회, 초밥, 오마카세
4       미영이네식당  식당  일식  회, 고등어, 방어, 참치
..         ...  ..  ..             ...
261   성읍 칠십리식당  식당  한식          흑돼지, 꿩
262     제주시새우리  식당  한식       딱새우, 전복김밥
263       다정이네  식당  한식    김밥, 멸치김밥, 분식
264    파도소리해녀촌  식당  한식      보말칼국수, 보말죽
265  중앙통닭 마농치킨  식당  한식            마늘치킨

[266 rows x 4 columns]

In [55]:
mango=pd.read_excel("mango_df.xlsx")
mango=mango[['가게명','주소','Latitude','Longitude']]

In [56]:
dining=pd.read_excel("code_df.xlsx")
dining=dining[['가게명','주소','Latitude','Longitude']]

In [58]:
md=pd.concat([mango,dining]).reset_index()
md.drop(columns=['index'], inplace=True)

In [59]:
# md.drop_duplicates('가게명', keep='first', inplace=True) #겹치는 식당명 제거

In [60]:
md

          가게명                             주소   Latitude   Longitude
0         상춘재         제주특별자치도 제주시 조천읍 선진길 26  33.458659  126.704843
1        남양수산  제주특별자치도 서귀포시 성산읍 고성동서로56번길 11  33.450135  126.914224
2         선흘곶        제주특별자치도 제주시 조천읍 동백로 102  33.508187  126.718049
3      스시호시카이             제주특별자치도 제주시 오남로 90  33.481286  126.516769
4      미영이네식당      제주특별자치도 서귀포시 대정읍 하모항구로 42  33.217651  126.249904
..        ...                            ...        ...         ...
295  성읍 칠십리식당       제주특별자치도 서귀포시 표선면 성읍리 580  33.411299  126.781926
296    제주시새우리        제주특별자치도 제주시 삼도2동 1098-3  33.514671  126.520501
297      다정이네         제주특별자치도 서귀포시 서귀동 255-7  33.249455  126.566979
298   파도소리해녀촌          제주특별자치도 제주시 우도면 874-2  33.506491  126.953361
299      일통이반           제주특별자치도 제주시 삼도2동 6-1  33.516854  126.522896

[300 rows x 4 columns]

In [26]:
score=pd.read_csv("total_fn.csv")

In [30]:
score=score[['가게명','점수_mango','점수_dining','점수_naver']]
score.head()

      가게명  점수_mango  점수_dining  점수_naver
0     상춘재       4.7       65.0      4.50
1    남양수산       4.6        NaN      4.60
2     선흘곶       4.6        NaN      4.45
3  스시호시카이       4.5        NaN      4.66
4  미영이네식당       4.5        NaN      4.56

In [ ]:
score['all_score']

In [46]:
score['dc_score']=score.loc[:,'점수_dining']*5/100

In [48]:
score['mean_score']=score.loc[:,['점수_mango','점수_naver','dc_score']].mean(axis=1).round(1)

In [51]:
score=score[['가게명','mean_score']]

In [61]:
len(score), len(md), len(dist)

(266, 300, 266)

In [70]:
join1=pd.merge(dist,score, on='가게명') #len = 266

In [71]:
join1

           가게명 대분류 중분류             소분류  mean_score
0          상춘재  식당  한식     돌문어 비빔밥, 게장         4.1
1         남양수산  식당  일식          회, 고등어         4.6
2          선흘곶  식당  한식          정통 한정식         4.5
3       스시호시카이  식당  일식     회, 초밥, 오마카세         4.6
4       미영이네식당  식당  일식  회, 고등어, 방어, 참치         4.5
..         ...  ..  ..             ...         ...
291   성읍 칠십리식당  식당  한식          흑돼지, 꿩         2.9
292     제주시새우리  식당  한식       딱새우, 전복김밥         2.9
293       다정이네  식당  한식    김밥, 멸치김밥, 분식         2.9
294    파도소리해녀촌  식당  한식      보말칼국수, 보말죽         2.8
295  중앙통닭 마농치킨  식당  한식            마늘치킨         4.2

[296 rows x 5 columns]

In [72]:
join2=pd.merge(join1, md, on='가게명')

In [76]:
join2

,가게명,대분류,중분류,소분류,mean_score,주소,Latitude,Longitude
0,상춘재,식당,한식,"돌문어 비빔밥, 게장",4.1,제주특별자치도 제주시 조천읍 선진길 26,33.458659,126.704843
1,상춘재,식당,한식,"돌문어 비빔밥, 게장",4.1,제주특별자치도 제주시 조천읍 선흘리 1829-11,33.458768,126.704818
2,남양수산,식당,일식,"회, 고등어",4.6,제주특별자치도 서귀포시 성산읍 고성동서로56번길 11,33.450135,126.914224
3,선흘곶,식당,한식,정통 한정식,4.5,제주특별자치도 제주시 조천읍 동백로 102,33.508187,126.718049
4,스시호시카이,식당,일식,"회, 초밥, 오마카세",4.6,제주특별자치도 제주시 오남로 90,33.481286,126.516769
...,...,...,...,...,...,...,...,...
379,살롱 드 라방,카페,NaN,NaN,2.9,제주특별자치도 제주시 애월읍 하가리 1415,33.457871,126.349006
380,성읍 칠십리식당,식당,한식,"흑돼지, 꿩",2.9,제주특별자치도 서귀포시 표선면 성읍리 580,33.411299,126.781926
381,제주시새우리,식당,한식,"딱새우, 전복김밥",2.9,제주특별자치도 제주시 삼도2동 1098-3,33.514671,126.520501
382,다정이네,식당,한식,"김밥, 멸치김밥, 분식",2.9,제주특별자치도 서귀포시 서귀동 255-7,33.249455,126.566979
383,파도소리해녀촌,식당,한식,"보말칼국수, 보말죽",2.8,제주특별자치도 제주시 우도면 874-2,33.506491,126.953361

In [77]:
join2.drop_duplicates('가게명', keep='first', inplace=True) #겹치는 식당명 제거

In [78]:
join2

,가게명,대분류,중분류,소분류,mean_score,주소,Latitude,Longitude
0,상춘재,식당,한식,"돌문어 비빔밥, 게장",4.1,제주특별자치도 제주시 조천읍 선진길 26,33.458659,126.704843
2,남양수산,식당,일식,"회, 고등어",4.6,제주특별자치도 서귀포시 성산읍 고성동서로56번길 11,33.450135,126.914224
3,선흘곶,식당,한식,정통 한정식,4.5,제주특별자치도 제주시 조천읍 동백로 102,33.508187,126.718049
4,스시호시카이,식당,일식,"회, 초밥, 오마카세",4.6,제주특별자치도 제주시 오남로 90,33.481286,126.516769
5,미영이네식당,식당,일식,"회, 고등어, 방어, 참치",4.5,제주특별자치도 서귀포시 대정읍 하모항구로 42,33.217651,126.249904
...,...,...,...,...,...,...,...,...
379,살롱 드 라방,카페,NaN,NaN,2.9,제주특별자치도 제주시 애월읍 하가리 1415,33.457871,126.349006
380,성읍 칠십리식당,식당,한식,"흑돼지, 꿩",2.9,제주특별자치도 서귀포시 표선면 성읍리 580,33.411299,126.781926
381,제주시새우리,식당,한식,"딱새우, 전복김밥",2.9,제주특별자치도 제주시 삼도2동 1098-3,33.514671,126.520501
382,다정이네,식당,한식,"김밥, 멸치김밥, 분식",2.9,제주특별자치도 서귀포시 서귀동 255-7,33.249455,126.566979
383,파도소리해녀촌,식당,한식,"보말칼국수, 보말죽",2.8,제주특별자치도 제주시 우도면 874-2,33.506491,126.953361

In [80]:
join2.to_csv("jeju_list.csv",index=False, encoding='utf-8-sig')